<main class="container" id="top">
<ul class="post-list">
  {%- for post in site.posts -%}
    <li class="post-item" aria-labelledby="post-title-{{ forloop.index0 }}">
      <article class="post-article">
      <h3 id="post-title-{{ forloop.index0 }}" class="post-title">
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
      {{ post.date | date: "%b %-d, %Y" }}
      </time>
      </article>
    </li>
  {%- endfor -%}
</ul>
</main>