<footer>
  <div class="mini container">
    <h4>
      {{ site.title }} &copy; {{ site.time | date: "%Y" }}.
    </h4>
    <p>
      Todo el contenido redactado en este sitio es propiedad de sus autores
    </p>
    <p>
      Para poder utilizar cualquier contenido de este sitio web, es necesario que se cite la fuente original, incluyendo un enlace al artículo o página de donde se ha obtenido la información.
    </p>
  </div>
</footer>
</body>
</html>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W8GWXLQNGE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W8GWXLQNGE');
</script>