<header class="main">
    <div class="container wrapper">
        <div class="grid-2">
            <div class="logo">
                <a href="/"></a>
            </div>
            <div class="menu grid center">
                <h2>
                    Virtualización, Contenedores, Reviews de hardware y más
                </h2>
                <nav>
                    <ul class="minimal inline">
                        <li><a href="{{ site.baseurl }}/">Inicio</a></li>
                        <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                        <li><a href="{{ site.baseurl }}/acerca-de/">Sobre mí</a></li>
                        <li><a href="{{ site.baseurl }}/contacto/">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>