<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ base.url }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ base.url }}/assets/css/carousel.css">
    <link rel="stylesheet" href="{{ base.url }}/assets/css/post.css">    
    <link rel="stylesheet" href="{{ base.url }}/assets/css/store.css">    
    <link rel="stylesheet" href="{{ base.url }}/assets/css/footer.css">    
    <link rel="stylesheet" href="{{ base.url }}/assets/css/code.css">    
    <link rel="stylesheet" href="{{ base.url }}/assets/css/pygment.css">    
    <link rel="stylesheet" href="{{ base.url }}/assets/css/funnel.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Source+Code+Pro:ital@0;1&display=swap" rel="stylesheet">
    <!-- WebApp PWA -->
    <link rel="manifest" href="/manifest.json">
    <!-- Favicon estándar para navegadores modernos -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base.url }}/assets/img/favicon-32px.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base.url }}/assets/img/favicon-16px.png">
    <!-- Favicon para Apple -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base.url }}/assets/img/favicon-180px.png">
    <!-- Favicon para navegadores antiguos (opcional) -->
    <link rel="shortcut icon" href="{{ base.url }}/assets/img/favicon-16px.ico" type="image/x-icon">
    {% include seo.html %}
</head>
<body>
