<figure id="top" class="wallpaper grid center" style="background-image: url({{ page.banner }})">
    <div class="container">
        <h2>
            <figcaption>
                {{ page.title }}
            </figcaption>
        </h2>
        <p>
            {% for item in page.specs %}
                {{ item }}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </p>          
        <div class="grid-2 center gap">
            <h3>
                AR$ {{ page.price }}
            </h3>
            <p>
                <a href="https://wa.me/5491122515262" class="button red">
                    Comprar ya
                </a>
            </p>
        </div>
    </div>
</figure>