<header class="main">
    <div class="grid-2 container">
        <div class="logo"></div>
        <div class="menu">
            <nav>
                <ul class="minimal inline">
                    <li><a href="{{ site.baseurl }}/">Inicio</a></li>
                    <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                    <li><a href="{{ site.baseurl }}/acerca-de/">Sobre mí</a></li>
                    <li><a href="{{ site.baseurl }}/contacto/">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>