<div class="highlight-wrapper">
  <div class="highlight container">
      <h2 class="">LO MEJOR DEL MES</h2>
      <ul class="minimal list">
          {%- assign destacados = site.posts | where: "highlight", true -%}
          {%- for post in destacados -%}
              <li class="post-item" data-index="{{ forloop.index0 }}">
                <a href="{{ post.url | relative_url }}" class="grid-2 gap">
                  <img class="img" src="{{ post.og_image | default: site.og_image}}" />
                  <div class="body grid center">
                      <h3 class="title">{{ post.title }}</h3>
                  </div>
                </a>
              </li>
          {%- endfor -%}
    </ul>
  </div>
  <p>
    <a href="/blog">Todos los posts</a>
  </p>
</div>