<main class="post" aria-label="Content" id="top">
  <header class="post">
    <div class="container">
      <h1 class="postTitle" itemprop="name headline">
        {{ page.title }}
      </h1>
      <p class="postMeta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </p>
    </div>
  </header>

  <div class="container">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
      </div>

    </article>
  </div>
</main>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W8GWXLQNGE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W8GWXLQNGE');
</script>