<main class="post" aria-label="Content" id="top">
    <div class="container">
        <ul class="minimal grid-4">
            {% for product in site.store %}
                <li>
                <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
                <p>Precio: ${{ product.price }}</p>
                {% if product.image %}
                    <img src="{{ product.image }}" alt="{{ product.title }}" />
                {% else %}
                    <img src="{{ base.url }}/assets/store/no-image.webp" alt="Sin imágen" />
                {% endif %}
                <p>{{ product.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</main>