footer {
    width: 100%;
    display: block;
    background: var(--black);
    text-align: center;
}
footer * {
    color: var(--white);
}
footer .mini p {
    font-size: 16px;
    line-height: 32px;
}
.backToTop {
    position: fixed;
    bottom: var(--gap-xxxl);
    right: var(--gap-xxxl);
    padding: var(--gap-xl);
    display: block;
    z-index: 9;
}