:root {
    --shadow: rgba(0, 0, 0, 0.5);
    --black: #292929;
    --gray: #494949;
    --white: #fefefe;
    --red: #f37f7f;
    --redAlt: #ca0101;
    --background: #fff;
    --codeBackground: #000;
    --codeText: #fff;
    --blockquoteBackground: #494949;
    --blockquoteShadow: #f37f7f;
    --blockquoteText: #fff;
    --titleColor: #292929;
    --textColor: #1b1b1b;
    --textColorFontSize: 20px;
    --linkColor: #ca0101;
    /* Paddings */
    --gap: 4px;
    --gap-xl: 8px;
    --gap-xxl: 16px;
    --gap-xxxl: 32px;
    /* Radius */
    /* --rounded: 32px; */
    --rounded: 16px;
    /* Timing */
    --animation-timing: .25s;
    /*  */
    --shadowInset: inset 0 4px 10px 0 var(--shadow);
}
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: var(--background);
    color: var(--textColor);
}
/* Fonts */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.source-code-pro-regular {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--titleColor);
}
p, ul li, ol li {
    font-size: clamp(1.2rem, 1.7vw, 1.3rem); /* ~16–19px */
    margin-bottom: 1em;
}

figcaption {
    font-size: clamp(1rem, 1.0vw, 1rem);
    /* margin-bottom: 1em; */
}
h1 {
    font-size: clamp(2rem, 4vw, 3rem); /* ~32–48px */
    font-weight: 700;
}

h2 {
    font-size: clamp(1.5rem, 3vw, 2.25rem); /* ~24–36px */
    font-weight: 600;
}

h3 {
    font-size: clamp(1.25rem, 2.5vw, 1.75rem); /* ~20–28px */
    font-weight: 600;
}

h4, h5, h6 {
    font-size: clamp(1.1rem, 2vw, 1.4rem); /* ~18–22px */
    font-weight: 500;
}
p, ul li, ol li, span, blockquote, figcaption {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--textColor);
    line-height: 36px;
}
blockquote {
    background: var(--blockquoteBackground);
    box-shadow: 0 8px 16px -8px var(--blockquoteShadow);
    padding: var(--gap-xxl) var(--gap-xxxl);
    border-radius: var(--rounded);
    display: block;
    margin: var(--gap-xxl) auto;
    max-width: 80%;
}
blockquote p {
    color: var(--blockquoteText);
    margin: 0;
}
ul li, ol li {
    margin-bottom: var(--gap-xl);
}
ul li:last-child, ol li:last-child {
    margin-bottom: 0;
}
/* Links */
a {
    color: var(--linkColor);
    text-decoration: none;
    transition: filter var(--animation-timing) ease-out;
}
a:hover, a:focus {
    filter: brightness(1.2);
}
/* Wrappers */
.container {
    width: 90%;
    margin: 0 auto;
    padding: var(--gap-xxxl) 0;
}
@media screen and (width >= 768px) {
    .container {
        width: 80%;
    }
}
@media screen and (width >= 1280px) {
    .container {
        width: 70%;
    }
}
.fullscreen {
    width: 100%;
    min-height: 100vh;
}
/* Lists */
.container ul, .container ol {
    padding: var(--gap-xl) var(--gap-xxxl);
}
.minimal { list-style: none }
ul.inline li { display: inline-block }
/* Grid */
[class*=grid] {
    width: 100%; /* hotfix for ul/ol */
    display: grid !important;
}
[class*=grid].center {
    align-items: center;
    text-align: center
}
.grid-2, .grid-4, .grid-6 {grid-template-columns: 100%}
.gap       { gap: var(--gap); }
.gap-xl    { gap: var(--gap-xl); }
.gap-xxl   { gap: var(--gap-xxl); }
.gap-xxxl  { gap: var(--gap-xxxl); }
@media (min-width: 768px) {
    .grid-2 {grid-template-columns: 1fr 1fr}
    .grid-2 .span {grid-column: 1 / span 2}
}
@media (min-width: 1024px) {
    .grid-6 {grid-template-columns: repeat(3, 1fr)}
    .grid-4 {grid-template-columns: repeat(2, 1fr)}
    .grid-4 .span {grid-column: 1 / span 2}
}
@media (min-width: 1600px) {
    .grid-4 {grid-template-columns: repeat(4, 1fr)}
    .grid-4 .span {grid-column: 1 / span 4}
    .grid-6 {grid-template-columns: repeat(6, 1fr)}
    .grid-6 .span {grid-column: 1 / span 6}
}
/*  */
/* Header */
header.main {
    background: var(--gray);
    color: var(--white);
    /* padding: 64px 0 0 0; */
}
header.main .grid-2 {
    grid-template-columns: 64px 32px;
}
header.main .container.wrapper .logo {
    width: 64px;
    height: 64px;
    border-radius: var(--rounded);
    transition: all var(--animation-timing) ease-out;
}
/* header.main .container.wrapper .logo:hover {
    box-shadow: inset 0 0 4px 0 var(--white), 0 4px 10px 2px var(--redAlt);
} */
header.main .container.wrapper .logo a {
    width: 100%;
    height: 100%;
    border-radius: var(--gap);
    display: block;
    background: var(--redAlt) url('../img/logo/logo-256px.webp') center / cover;
    filter: brightness(1);
}
header.main a {
    color: var(--white);
    filter: brightness(0.8);
}
header.main a:hover, header.main a:focus {
    filter: brightness(1);
}
header.main .menu {
    align-items: center;
    justify-content: right;
    text-align: right;
}
header.main nav {
    display: none;
    float: right;
    clear: both;
}
header.main nav ul li {
    margin-right: var(--gap);
}
header.main nav ul li:last-child {
    margin-right: var(--gap);
}
header.main nav ul li a {
    padding: 0 var(--gap-xl) var(--gap-xl) var(--gap-xl);
    color: var(--white);
    border-bottom: var(--gap) solid transparent;
    border-radius: 0 0 var(--gap) var(--gap);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
header.main nav ul li a:hover {
    border-color: var(--linkColor);
}
header.main .menu h2 {
    float: right;
    clear: both;
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: none;
    padding: var(--gap-xxl) var(--gap-xxxl);
    margin: 0 var(--gap-xl) var(--gap-xxl) 0;
    border-radius: var(--gap-xxxl);
    box-shadow: var(--shadowInset);
}
@media(min-width: 1024px) {
    header.main .grid-2 {
        grid-template-columns: 128px auto;
    }
    header.main .container.wrapper .logo {
        width: 128px;
        height: 128px;
    }
    header.main .menu h2 {
        display: block;
    }
    header.main nav {
        display: block;
    }
}
/* Homepage */
article .container .comparison {
    margin: var(--gap-xxl) 0;
    width: 100%;
}
.homepage {
    width: 100%;
    position: relative;
    background: var(--gray);
}
.homepage .homepage-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    grid-template-rows: 360px;
    border-bottom: 8px solid var(--linkColor);
}
@media screen and (width >= 768px) {
    .homepage .homepage-wrapper.grid-2 {
        grid-template-columns: 100%;
        grid-template-rows: 460px;
    }
}
@media screen and (width >= 960px) {
    .homepage .homepage-wrapper.grid-2 {
        grid-template-columns: auto 420px;
    }
}
/* @media screen and (width >= 1024px) {
    .homepage.grid-2 {
        grid-template-columns: auto 360px;
    }
} */
@media screen and (width >= 1280px) {
    .homepage .homepage-wrapper.grid-2 {
        grid-template-columns: auto 460px;
    }
}
/* Homepage: categories carousel */
.carousel.wrapper {
    display: block;
    position: relative;
    z-index: 2;
}
.carousel.wrapper::before {
    width: 60px;
    height: 100%;
    content: '';
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
}
.carousel.wrapper::after {
    width: 60px;
    height: 100%;
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 0;
    right: 0;
}
.carousel ul.categories.carousel li a {
    display: block;
}
/* Homepage: highlight list */
.homepage .highlight-wrapper {
    background: var(--gray);
    display: block;
}
.homepage .highlight-wrapper .highlight ul li a {
    transition: all var(--animation-timing) ease-out;
    text-shadow: 0 0 2px var(--black);
}
.homepage .highlight-wrapper .highlight ul li a:hover {
    text-shadow: 0 2px 8px var(--black);
}
@media screen and (width >= 960px) {
    .homepage .highlight-wrapper {
        padding: 0;   
    }
}
.homepage .highlight {
    overflow: hidden;
    z-index: 3;
}
.highlight.container {
    width: calc(100% - var(--gap-xxxl) * 2);
}
.highlight h2 {
    margin-bottom: var(--gap-xxl);
    color: var(--white);
}
.highlight ul li a, .highlight ul li span {
    color: var(--white);
}
.highlight .button {
    margin-top: var(--gap-xxl);
}
/* Homepage: welcome message */
.welcome.message {
    padding: 80px 0;
    opacity: 1;
    transition: opacity var(--animation-timing) ease-out;
}
.welcome.message .wrapper {
    border: 2px solid var(--white);
    padding: var(--gap-xxl);
    border-radius: var(--rounded);
    transition: all var(--animation-timing) ease-out;
}
.welcome.message .wrapper:hover {
    box-shadow: 8px 8px 0 var(--light_blue), 16px 15px 0 var(--dark_blue);
    transform: translate(-8px, -8px);
}
/* Common */
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.text-center {
    text-align: center;
}
/* Categories */
header.category.page {
    min-height: calc(100vh - 270px - 108px);
    background-color: var(--black);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
header.category.page .wrapper * {
    text-shadow: 0 0 var(--gap) var(--black);
    color: var(--white);
}
/* Button */
.button {
    display: inline-block;
    padding: var(--gap-xl) var(--gap-xxl);
    text-align: center;
    border-radius: var(--rounded);
    transition: all var(--animation-timing) ease-out;
    font-size: 16px;
    position: relative;
    z-index: 8;
}
.button:hover, .button:focus {
    filter: brightness(1.1);
}
.button.red {
    background: var(--red);
    color: var(--white);
    box-shadow: 0 2px 0 2px var(--redAlt);
}
.button.red:hover, .button.red:focus {
    box-shadow: 0 0 4px 2px var(--redAlt);
}
.button.transparent {
    background: rgba(250, 250, 250, 0.9);
    backdrop-filter: blur( var(--gap) );
    box-shadow: 0 0 4px 2px var(--shadow);
}
/* .button.transparent:hover, .button.transparent:focus {
    box-shadow: 0 0 4px 2px rgba( 10, 10, 10, 0.4);
} */
.video-wrapper {
    aspect-ratio: 16 / 9; /* relación fija 16:9 */
    width: 100%;          /* ocupa todo el ancho disponible */
    margin: var(--gap-xxxl) 0;
    border-radius: var(--rounded);
    overflow: hidden;
    box-shadow: 0 4px 12px 0px var(--shadow);
    background: var(--gray);
  }

  .video-wrapper iframe, .video-wrapper video {
    width: 100%;
    height: 100%;
    border: 0;
  }