main header.post {
    width: 100%;
    background: var(--black);
    border-bottom: var(--gap-xl) solid var(--red);
    border-radius: 0 0 var(--gap);
    margin-bottom: var(--gap-xxxl);
    box-shadow: 0 8px 16px -8px var(--black);
}
main header.post h1, main header.post p {
    color: var(--white);
}
main article h1, main article h2, main article h3, main article h4, main article h5, main article h6 {
    margin: var(--gap-xl) 0 var(--gap) 0;
}
main article img {
    max-width: 100%;
    border-radius: var(--gap-xl);
    margin: var(--gap) 0;
}
main article ul, main article ol {
    padding: 0 0 0 var(--gap-xxxl);
    margin: var(--gap-xl) 0 var(--gap-xl) var(--gap);
}