main article .post-header {
    padding: var(--gap-xl) var(--gap-xxl);
    border: var(--gap) solid var(--white);
    border-radius: var(--gap-xl);
    box-shadow: 0px 4px 10px 0px white;
    margin-bottom: var(--gap-xxl);
}
main article h1, main article h2, main article h3, main article h4, main article h5, main article h6 {
    margin: var(--gap-xl) 0 var(--gap) 0;
}
main article img {
    max-width: 100%;
    border-radius: var(--gap-xl);
    margin: var(--gap) 0;
}
main article ul, main article ol {
    padding: 0 0 0 var(--gap-xxxl);
    margin: var(--gap-xl) 0 var(--gap-xl) var(--gap);
}