.store .hasAside.grid-2 {
    grid-template-columns: 100%;
}

.store .hasAside.grid-2 aside {
    /* border-left: var(--gap-xl) solid var(--red); */
    /* border-right: var(--gap-xl) solid var(--red); */
    padding: var(--gap-xxl);
    border-radius: var(--rounded);

}
@media(min-width: 768px) {
    .store .hasAside.grid-2 {
        grid-template-columns: 320px auto;
    }
    .store .hasAside.grid-2 aside {
        border-left: none;
        /* border-right: var(--gap-xl) solid var(--red); */
        box-shadow: var(--shadowInset);
    }
}
@media(min-width: 1600px) {
    .store.list .grid-4 {grid-template-columns: repeat(2, 1fr)}
    }
}
@media(min-width: 1920px) {
    .store.list .grid-4 {grid-template-columns: repeat(4, 1fr)}
}
.store.list h1.title {
    font-size: clamp(1.25rem, 2.5vw, 1.75rem); /* ~20–28px */
    margin-bottom: var(--gap-xl);
    border-radius: var(--rounded);
    padding: var(--gap-xxxl);
    text-align: center;
    /* box-shadow: var(--shadowInset); */
}
.store.list h2.subtitle {
    text-align: center;
    font-weight: 300;
    font-size: clamp(1.1rem, 2.15vw, 1.60rem);
    margin-bottom: var(--gap-xxxl);
}
.store.list h1 span {
    color: var(--red);
}
.store.list ul.listing {
    margin: 0;
    padding: 0;
}
.store.list ul.listing li h2 {
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}